body {
  margin: 0px;
  font-family: Roboto;
}
hr {
  max-width: 1920px;
  width: 100%;
  height: 1px;
  background-color: white;
  border: 0px;
  margin-top: 15px;
}

header{
  width: 1905px;  
  height: 130px;  
  background-color: #1E2022;
  color: #8E8E93;
}
.header__up{
  margin-top: 15px;
  display: inline-flex;
}
.geolocation{
  margin-left: 400px;
}
.geolocation a{
  color: #8E8E93;
  text-decoration: none;
  font-size: 16px;
}
.geolocation span{
  margin-left: 12px;
}

.shapka{
  margin-left: 205px;
}
.shapka__ssl{
  color: #8E8E93;
  text-decoration: none;
  padding-left: 30px;
  font-size: 16px;
  font-weight: 500;
}
.shapka__ssl:hover{
  color: white;
}
.header__phone{
  padding-left: 146px;
  color: #8E8E93;
  text-decoration: none;
}
.header__phone:hover{
  color: white;
}
.one{
  margin-top: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-left: 0px;
}

.header_down{
  display: inline-flex;
}
.logo{
  margin-left: 400px;
  margin-top: 15px;
  background: url(/img/Logo.png) no-repeat;
  width: 149px;
  height: 35px;
}
.logo a{
  width: 149px;
  height: 35px;
}
.logo:hover{
  background: url(/img/Logo_active.png) no-repeat;
  transition: 1s;
}



.header__select{
  margin-top: 7px;
  margin-left: 35px; 
}
.header__select button{
  width: 126px;
  height: 50px;
  background-color: #1E2022;
  border: 1px solid #8E8E93;
  border-radius: 6px;
}
.header__select button span{
  padding-left: 7px;
  font-family: Roboto;
  color: #8E8E93;
  font-size: 16px;
  font-weight: 500;
}
.header__select button:hover{  
  border: 1px solid white;
}
.header__select button span:hover{
  color: white;
}


.search{
  margin-left: 30px;
}
.search_input {
  margin-top: 7px;
  
}

.search input {
  width: 440px;
  height: 50px;
  padding-left: 10px;
  border: 1px solid #8e8e93;
  border-radius: 10px;
  outline: none;
  background-color: #1e2022;
  color: #8e8e93;
}
.search button {
  width: 20px;
  height: 20px;
  border: none;
  background: url(/img/search.png) no-repeat;
  cursor: pointer;
  position: absolute;
  top: 80px;
  left: 1141px;
}
.search button:hover{
  background: url(/img/search_active.png) no-repeat;
  transition: 0.5s;
}

.block__sravnen{
  margin-left: 37px;
  display: inline-flex;
}
.block__sravnen a{
  font-size: 14px;
  text-decoration: none;
  color: #8E8E93;
  font-weight: 500;
}
.block__sravnen a:hover{
  color: white;
}
.block__sravnen span{
  padding-left: 7px;
}

.div_sravnen{
  margin-top: 18px;
}
.div_korzina{
  margin-left: 37px;
  margin-top: 22px;
}
.div_vhod{
  margin-left: 39px;
  margin-top: 19px;
}
.sortirovka_tovarov{
  position: absolute;
  display: inline-flex;
  left: 700px;
  margin-top: 25px;
}
.sortirovka_tovarov button{
  background: none;
  border: none;
}
#selectID{
  border-color: #fff;
}
#selectID:checked{
  border-color: #fff;
}
.poloski__sort__btn{
  width: 30px;
  height: 30px;
}
.poloski__sort__btn:hover{
  border-radius: 50px;
  background-color: #c5c5c7;
}
.cubiki__sort__btn{
  width: 30px;
  height: 30px;
}
.cubiki__sort__btn:hover{
  border-radius: 50px;
  background-color: #c5c5c7;
}
.vid_sort{
  margin-left: 605px;
}
.way{
  margin-left: 400px;
  margin-top: 20px;
}
.way a{
  font-family: Roboto;
  color: #8E8E93;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}
.way span{
  font-family: Roboto;
  color: #8E8E93;
  font-size: 16px;
  font-weight: 400;
}
.way a:hover{
  text-decoration: underline;
}

.content{
  display: flex;
  max-width: 1120px;
  width: 100%;
  margin-top: 20px;
  margin-left: 400px;
  font-family: Roboto;
}

.category_name{
  margin-left: 400px;
  margin-top: 60px;
}
.category_name h1{
  
  font-weight: 700;
  font-size: 24px;
  color: #2D2D2D;
}
.category_name h1 span{
  padding-left: 20px;
  font-weight: 500;
  font-size: 16px;
  color: #8E8E93;
}

.search_category{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 265px;
  height: 50px;
  border: 1px solid #8E8E93;
  border-radius: 6px;  
}
.pole_search_cat{
  width: 190px;
  height: 39px;
  margin-left: 20px;
  border: none;
  outline: none;
}
.search_category__btn{
  background: none;
  border: none;
}

.filtres{
  width: 265px;
  margin-top: 10px;
}
.vibor__magazina__filters{
  margin-top: 10px;
}
.vibor__magazina__filters select{
  width: 265px;
  height: 50px;
}
.vibor__magazina__filters option{
  margin-left: 15px;
}
.dropdown{
  margin-top: 30px;
}
.dropdown__header{
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
}
.dropdown__header:hover{
  color: #8E8E93;
}
.dropdown__body{
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
#vibor__magazina__select{
   border-radius: 6px;
  color: #8E8E93;
  padding-left: 15px;
}

.checkbox_txt{ 
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  color: #404040;
}
*{
  transition: all 0.5s;
}
.dropdown__body span{
  margin-top: 10px;
}

.cena_inp{
  width: 100px;
  height: 50px;
  border-radius: 6px;
  color: #8E8E93;
  font-size: 16px;
  margin-top: 10px;
  border: 2px solid #8E8E93;
  padding-left: 15px;
}
.tire{
  color: #8E8E93;
  font-family: Roboto;
}
.vibor__ceni{
  display: flex;
  flex-direction: column;
}
.vibor__ceni span{
  font-family: 'Roboto';
  color: #404040;
  font-size: 14px;
  font-weight: 400;
}

.search_creator{
  display: flex;
  text-align: center;
  margin-top: 10px;  
  height: 30px;
  border: 1px solid #8E8E93;
  border-radius: 6px;
  padding: 10px;
}
.vibor__creator{
  display: flex;
  flex-direction: column;  
}
.search_creator_txt{
  border: none;
  outline: none;
  width: 200px;
  
}
.search_creator_btn{
  background: none;
  margin-left: 45px;
  border: none;
}
#readmore_btn {
  font-family: Roboto;
  background: none;
  border: 0px;
  color: #3191d0;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  margin-left: -5px;
}
#readmore_btn:hover {
  text-decoration: underline;
}
#dots{
  display: none;
}
#more{
  margin-top: 0px;
  display: none;
  flex-direction: column;  
}

.primenit{
  margin-top: 20px;
  max-width: 265px;
  width: 100%;
  min-height: 50px;
  background-color: #F05757;
  color: #fff;
  border-radius: 6px;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
.primenit:hover{
  background-color: red;
}
.reset__filter{
  margin-top: 10px;
  max-width: 265px;
  width: 100%;
  min-height: 50px;

  background: none;
  color: #8E8E93;
  border-radius: 6px;
  border: 1px solid #8E8E93;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.reset__filter:hover{
  background-color: #8E8E93;
  color: #fff;
}

.content__tovar{  
  display: inline-flex;
  flex-wrap: wrap;
  width: 900px; 
  margin-top: 90px;
}
.tovar__block{
  margin-left: 20px;
  width: 265px;
  height: 413px;
  border: none;
  font-family: 'Roboto';
}
.photo_tovara{
  margin-top: 20px;
  width: 180px;
  height: 180px;
}
.photo_tovara:hover{
  width: 200px;
  height: 200px;
}
.tovar_name{
  font-weight: 400;
  font-size: 14px;
  color: #1E2022;
}
.tovar_otziv{
  margin-top: 10px;
}
.otziv_cifra{
  margin-left: 5px;
  color: #F05757;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}
.otziv_kolvo{
  margin-left: 5px;
  font-weight: 500;
  font-size: 14px;
  color: #8E8E93;
  text-decoration: none;
}
.otziv_kolvo:hover{
  text-decoration: underline;
}
.cena_tovara{
  display: flex;
  flex-direction: column;
  margin-top: 11px;
}
.old_cena{
  font-weight: 500;
  font-size: 14px;
  text-decoration: line-through;
  color: #8E8E93;
}
.new_cena{
  font-weight: 600;
  font-size: 24px;
  color: #1E2022;
  text-decoration: none;
  margin-top: -8px;
}
.block_korzina{
  margin-top: 20px;
}
.add_korzina{
  width: 80px;
  height: 40px;
  background-color: #F05757;
  border-radius: 6px;
  border: none;
}
.add_korzina:hover{
  background-color: red;
}
.like_tovar{
  padding: 0;
  padding-top: 4px;
  background: none;
  border: none;
  width: 30px;
  height: 30px;
}
.like_tovar:hover{
  background-color: #c5c5c7;
  border-radius: 50px;  
}
.like_tovar:active{
  background-color: #F05757;
  border-radius: 50px; 
  transition: 0.1s;
}
.like_tovar:focus{
  background-color: #F05757;
  border-radius: 50px; 
}
.sravnen_tovara{
  background: none;
  border: none;
  width: 30px;
  height: 30px;
}
.sravnen_tovara:hover{
  background-color: #c5c5c7;
  border-radius: 50px; 
}
#more_tovar_btn{
  margin-left: 20px;
  max-width: 835px;
  width: 100%;
  max-height: 50px;
  height: 100%;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  color: #2D2D2D;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #8E8E93;
}
#more_tovar_btn:hover{
  background-color: #1E2022;
  border: none;
  color: #fff;
}
#dots_tovar{
  display: none;
}
#more_tovar{
  margin-top: 0px;
  display: none;
  flex-direction: column;  
}

.num_str{
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  color: #404040;
  margin-left: 37px;
  margin-top: 20px;
  
}
.num_str span{
  padding-left: 42px;
  padding: 15px;
}
.num_str span:hover{
  border: 1px solid #404040;
  border-radius: 4px;
}
.num_str_active{
  border: 1px solid #404040;
  border-radius: 4px;
}
.num_str button{
  width: 40px;
  height: 40px;
  background: none;
  border: none;
}
.num_str button:hover{
  border-radius: 50px;
  border: 1px solid black;
}

footer{
  width: 1905px; 
  min-height: 550px;
  height: 100%;
  margin-top: 60px;
  background: #1E2022;
}
.margin__top__footer__zagl{
  margin-top: 30px;
}
.logo_under{
  margin-left: 400px;
}
.logo_under img{
  margin-top: 30px;
}
.footer_info{
  display: flex;
  margin-left: 400px;
}
.zagl_footer{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}
.footer__block{
  margin-top: 30px;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #8E8E93;
 
}
ul{
  margin: 0;
  padding: 0;
}
.footer_for_buyers{
  margin-left: 60px;
}
.footer_no_name{
  margin-top: 55px;
  margin-left: 60px;
}
.footer_social_seti{
  margin-left: 106px;
}
.footer__block a{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #8E8E93;
  text-decoration: none;
}
.footer__block a:hover{
  text-decoration: underline;
}
.logo_footer{
  margin-left: 20px;
}
.animation_logo_under:hover{
  box-shadow: 0 0 5px 2px #fff;
  border-radius: 8px;
}
.hr_underline{
  max-width: 1125px;
  margin-left: 400px;
  width: 100%;
  height: 1px;
  background-color: white;
  border: 0px;
  margin-top: 30px;
}
.under_footer_container{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 400px;
  display: inline-flex;
}
.under_footer_container a{
  margin-right: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #8E8E93;
  text-decoration: none;
}
.under_footer_container a:hover{
  text-decoration: underline;
}
.polir_konf{
  margin-left: 530px;
}
.strelka_adaptiv{
  display: none;
}

@media screen and (max-width: 1000px) {
  header{
    width: 1000px;
    height: 130px;
  }
  hr{
    max-width: 1000px;
    margin-top: 15px;
  }
  .geolocation{
    margin-left: 20px;
  }
  .geolocation a{
    display: flex;
    flex-direction: row;
  }
  .shapka{
    margin-left: 90px;
    
  }
  .header__phone{
    padding-left: 100px;
  }
  .logo{
    margin-left: 20px;
  }
  .search input{
    width: 279px;
  }
  .search button{
    left: 600px;
  }
  
}